.item {
  gap: 30px;
  display: flex;
  border-radius: 5px;
  background-color: yellowgreen;
  padding: 5px;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: 400;
  font-style: oblique;
}
a:link {
  text-decoration: none;
}

.one {
  float: left;
  width: 50%;
  height: 20%;
  background-color: yellowgreen;
}
